.conteiner{
    width: 100vw;
    height: 100vh;
    background-color: black
}

.box{
    height: 100px;
}

.bg-grey{
    background-color: rgba(128,128,128,255);
}

.bg-purple{
    background-color: rgba(185,20,80,255);
}